body {
  background-color: #E9EBEE;
}

.jumbotron {
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('/static/img/front-background.jpg') ;
  background-size: cover; 
  height: 100vh;
  width: 100%;
  margin-bottom: 0px;
}

.left-middle-content {
  margin-top: 300px;
}

.right-middle-content-login {
  margin-top: 150px; 
  border: 1px solid #f0f1f2;
  padding: 50px;
  background: #f0f1f2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.right-middle-content-register {
  margin-top: 0px; 
  border: 1px solid #f0f1f2;
  padding: 50px 50px 0px 50px;
  background: #f0f1f2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.content-section {
  background: #fff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin: 20px 0 20px 0;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.datepicker {
  width: 69%;
}

.media {
  padding: 25px;
}

.edit-account-img {
  margin: 25% 0px;
  height: 125px;
  width: 125px;
}

.account-desc {
  margin: 25% 20px;
}

.custom-file {
  margin-bottom: 16px;
}

.date-content {
  font-size: 30px; 
  font-weight: bolder;
}

.float-right-box {
  float: right;
  margin: 10px;
  padding: 10px;
  border: 1px solid #e3e3e3;
  background: #e3e3e3;
}

.page {
  text-align: center;
}

.createPost {
  float: right;
}

.userprofile_mediabody {
  padding-left: 15px;
}

.panel-box {
  color: #000;
  background-color: #d4d4d4;
  border-color: #000;
}

.data-box {
  margin-bottom: 10px;
}

.data-box-text {
  font-size: 40px;
  font-family: 'Oswald', sans-serif;
}