<!-- HTML For Password Reset Email -->
<h1><b>【MemoryBlog】</b>Reset Your Password</h1>
<p>Dear {{ user.firstname }} {{ user.middlename }} {{ user.lastname }},</p>
<p>
    To reset your password, please <a href="{{ url_for('reset_password', token = token, _external = True) }}">Click Here</a>
</p>
<p>
    Alternatively, you can copy and paste the following link in your browser's address bar:<br/>
    {{ url_for('reset_password', token = token, _external = True) }}
</p>
<p>
    If you have not requested a password reset, please simply ignore this email message.<br/>
    Thanking you for using MemoryBlog.
</p>
<p>Sincerely</p>
<p>
    Jeet Z. H. Khondker
</p>