{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content-section">
                    <div class="media">
                        <img class="rounded-circle account-img" src="{{ photo }}">
                        <div class="media-body">
                            <h2 class="account-heading">{{ current_user.firstname }} {{ current_user.middlename }} {{ current_user.lastname }}</h2>
                            <p class="text-secondary">Email:&emsp;{{ current_user.email }}</p>
                            <p class="text-secondary">Born On:&emsp;{{ current_user.dob.strftime("%B %d") }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}