{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content-section">
                    <div class="row">
                        <div class="media col-md-6">
                            <img class="rounded-circle edit-account-img" src="{{ photo }}">
                            <div class="media-body account-desc">
                                <h2 class="account-heading">{{ current_user.firstname }} {{ current_user.middlename }} {{ current_user.lastname }}</h2>
                                <p class="text-secondary">Email:&emsp;{{ current_user.email }}</p>
                                <p class="text-secondary">Born On:&emsp;{{ current_user.dob.strftime("%B %d") }}</p>
                                {% if current_user.last_seen %}
                                    <p class="text-secondary">Last Seen On:&emsp;{{ moment(current_user.last_seen).format("LLL") }}</p>
                                {% endif %}
                                
                                {% if user != current_user %}
                                    {% if not current_user.is_following(user) %}
                                        <a href="{{ url_for('follow', username = user.username) }}" class="btn btn-primary">Follow</a>
                                    {% else %}
                                        <a href="{{ url_for('unfollow', username = user.username) }}" class="btn btn-secondary">Unfollow</a>
                                    {% endif %}
                                {% endif %}

                                {% if current_user.is_authenticated and user != current_user and user.is_following(current_user) %}
                                    <span class="label label-default">Follows You</span>
                                {% endif %}
                            </div>
                        </div>

                        <!-- EDIT OWN PROFILE INFORMATION -->
                        <div class="col-md-6 text-center editForm">
                            <h1 class = "accountEditHeader text-center"><i class="fas fa-edit"></i>&emsp;Edit Your Information</h1>

                            <!-- ACTION POPUP MESSAGE -->
                            {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                    
                                        {% for category, message in messages %}
                                            <div class="alert alert-{{ category }} text-center">
                                                {{ message }}
                                            </div>
                                        {% endfor %}
                                    
                                {% endif %}
                            {% endwith %}

                            <!-- EDIT OWN PROFILE FORM -->
                            <form action="" method="POST" enctype="multipart/form-data" novalidate>
                                {{ form.hidden_tag() }}
                                <div class="form-group row">
                                    <label for="username" class="col-md-3 col-form-label">Username</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="username" id="username" placeholder="Username" value="{{ current_user.username }}">
                                    </div>
                                    {% for error in form.username.errors %}
                                        <span style="color: red;">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <div class="form-group row">
                                    <label for="firstname" class="col-md-3 col-form-label">First Name</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="firstname" placeholder="First Name" value="{{ current_user.firstname }}">
                                    </div>
                                    {% for error in form.firstname.errors %}
                                        <span style="color: red;">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <div class="form-group row">
                                    <label for="middlename" class="col-md-3 col-form-label">Middle Name</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="middlename" placeholder="Middle Name" value="{{ current_user.middlename }}">
                                    </div>
                                    {% for error in form.middlename.errors %}
                                        <span style="color: red;">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <div class="form-group row">
                                    <label for="lastname" class="col-md-3 col-form-label">Last Name</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="lastname" placeholder="Last Name" value="{{ current_user.lastname }}">
                                    </div>
                                    {% for error in form.lastname.errors %}
                                        <span style="color: red;">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <div class="form-group row">
                                    <div class="input-group">
                                        <label for="dob" class="col-md-3 col-form-label">Date Of Birth</label>&emsp;
                                        <input class="datepicker dob" id="dob" name="dob" type="date" value="{{ current_user.dob.strftime('%Y-%m-%d') }}">
                                    </div>
                                    {% for error in form.dob.errors %}
                                        <span style="color: red;">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <div class="form-group row">
                                    <label for="email" class="col-md-3 col-form-label">Email Address</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="email" placeholder="Email Address" value="{{ current_user.email }}">
                                    </div>
                                    {% for error in form.email.errors %}
                                        <span style="color: red;">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <div class="form-group row">
                                    <label for="photo" class="col-md-3">Profile Picture</label>
                                    <input type="file" id="photo" name="photo" class="col-md-9 form-control-file">
                                    {% if form.photo.errors %}
                                        {% for error in form.photo.errors %}
                                            <span class="text-danger">{{ error }}</span></br>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ form.submit(class="btn btn-block btn-outline-info") }}
                                </div>
                            </form>

                        </div>
                    </div>

                    <!-- USER STATISTICS PANEL -->
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4 info-box">
                                <div class="card border-primary">
                                    <div class="card-body">
                                        <h1 class = "profile-stats" style="float: left; font-weight: bolder;">{{ total_posts }}</h1>
                                        {% if total_posts <= 1 %}
                                            <h3 class="info-box-label" style="float: right; font-weight: lighter;">Post</h3>
                                        {% else %}
                                            <h3 class="info-box-label" style="float: right; font-weight: lighter;">Posts</h3>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 info-box">
                                <a class="info-box" href="{{ url_for('followers', username = user.username) }}">
                                    <div class="card border-warning">
                                        <div class="card-body">
                                            <h1 class = "profile-stats" style="float: left; font-weight: bolder;">{{ user.followers.count() }}</h1>
                                            {% if user.followers.count() <= 1 %}
                                                <h3 class="info-box-label" style="float: right; font-weight: lighter;">Follower</h3>
                                            {% else %}
                                                <h3 class="info-box-label" style="float: right; font-weight: lighter;">Followers</h3>
                                            {% endif %}
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4 info-box">
                                <a class="info-box" href="{{ url_for('.followed_by', username=user.username) }}">
                                    <div class="card border-info">
                                        <div class="card-body">
                                            <h1 class = "profile-stats" style="float: left; font-weight: bolder;">{{ user.followed.count() }}</h1>
                                            <h3 class="info-box-label" style="float: right; font-weight: lighter;">Following</h3>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <br/>
                    </div>

                    <!-- POST DETAILS -->
                    <div class="col-md-12">
                        <div class="article-metadata">
                            {% if posts.items|length < 1 %}
                                <h3 class="text-center">Currently, you dont have any posts.</h3>
                            {% else %}
                                <h1 class = "blog-title-header text-center"><i class="fas fa-blog"></i>&emsp;Your Blog Posts</h1>
                                {% for post in posts.items %}
                                    <div class="card blog">
                                        <div class="card-body row">
                                            <div class="col-md-2 text-center date-content"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;{{ post.created_datetime.strftime('%b') }}<br/>{{ post.created_datetime.strftime('%d') }}, {{ post.created_datetime.strftime('%Y') }}</div>
                                            <div class="col-md-8 post-content">
                                                <h2 class="card-title">
                                                    <a class="article-title" href="{{ url_for('post', post_id = post.id) }}">{{ post.title }}</a>
                                                </h2>
                                                <p class="card-text" style="white-space: pre-wrap;">{{ post.body }}</p>
                                            </div>
                                            <div class="col-md-2 col-xs-12 photo-content">
                                                {% if post.post_photo %}
                                                    <img class="img-thumbnail thumbnail_blog_img" src="{{ url_for('static', filename = 'post_photos/' + post.post_photo) }}">
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            
                            <!-- PAGINATION -->
                            <div class="page">
                                {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                                    {% if posts.total > posts.per_page %}
                                        {% if page_num %}
                                            {% if posts.page == page_num %}
                                                <a class="btn btn-info mt-4 mb-4" href="{{ url_for('user', username = user.username, page = page_num) }}">{{ page_num }}</a>
                                            {% else %}
                                                <a class="btn btn-outline-info mt-4 mb-4" href="{{ url_for('user', username = user.username, page = page_num) }}">{{ page_num }}</a>
                                            {% endif %}
                                        {% else %}
                                            ...
                                        {% endif %}
                                    {% else %}

                                    {% endif %}
                                {% endfor %}
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}