{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content-section">
                    <div class="row">
                        <div class="media col-md-6">
                            <img class="rounded-circle account-img" src="{{ current_user.avatar(128) }}">
                            <div class="media-body">
                                <h2 id="greeting"></h2>
                                <h2 class="account-heading">{{ current_user.firstname }} {{ current_user.middlename }} {{ current_user.lastname }}</h2>
                            </div>
                        </div>

                        <!-- ADD POST -->
                        <div class="addPost col-md-6">

                            <!-- ADD POST FORM -->
                            <form action="{{ url_for('new_post') }}" method="POST" enctype="multipart/form-data" novalidate autocomplete="off">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="What Is In Your Mind Right Now?" name="title" required="1">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Say Something About It" name="body" required="1"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-block btn-success createPost"><i class="fas fa-plus"></i>&nbsp;Create Post</button>
                                </div>
                            </form>

                        </div>
                    </div>

                    <br/>
                    
                    <!-- ACTION POPUP MESSAGE -->
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                {% with messages = get_flashed_messages(with_categories=true) %}
                                    {% if messages %}
                                        
                                        {% for category, message in messages %}
                                            <div class="alert alert-{{ category }} text-center">
                                                {{ message }}
                                            </div>
                                        {% endfor %}
                                        
                                    {% endif %}
                                {% endwith %}
                            </div>
                        </div>
                    </div>

                    <br/>

                    <!-- NEWS FEED -->
                    <h1 class="display-4 lead text-center news-feed">
                        <i class="fa fa-rss" aria-hidden="true"></i>
                        &nbsp;News Feed
                    </h1>
                    
                    {% for post in posts.items %}

                        <!-- If Author Is Current User -->
                        {% if post.author == current_user %}
                            <article class="media blog-content-section">
                                <img class="rounded-circle article-img" src="{{ post.author.avatar(128) }}">
                                <div class="media-body">
                                    <div class="article-metadata">
                                        <a class="mr-2" href="{{ url_for('user', username = post.author.username) }}">{{ post.author.firstname }} {{ post.author.middlename }} {{ post.author.lastname }}</a>
                                        <small class="text-muted">Posted {{ moment(post.created_datetime).fromNow() }}</small>

                                        <!-- In Case Of Atleast 1 Like -->
                                        {% if post.likes.count() > 0 %}
                                            <small class="text-muted" data-toggle="modal" data-target="#likes{{post.id}}">&emsp;|&emsp;
                                                
                                                <!-- In Case Of Likes Less Than 2 But Greater Than 0 -->
                                                {% if post.likes.count() < 2 %}
                                                    Like&emsp;
                                                    <span class="badge badge-pill badge-info">{{ post.likes.count() }}</span></small>

                                                <!-- In Case Of Likes Greater Than 2 -->
                                                {% else %}
                                                    Likes&emsp;
                                                    <span class="badge badge-pill badge-info">{{ post.likes.count() }}</span></small>
                                                {% endif %}
                                        {% endif %}

                                        <!-- In case Of Atleast 1 Comment -->
                                        {% if post.comments.count() > 0 %}
                                            <small class="text-muted">&emsp;|&emsp;

                                            <!-- In Case Of Comments Less Than 2 But Greater Than 0 -->
                                            {% if post.comments.count() < 2 %}
                                                Comment&emsp;
                                                <span class="badge badge-pill badge-info">{{ post.comments.count() }}</span></small>

                                            <!-- In Case Of Comments Greater Than 2 -->
                                            {% else %}
                                                Comments&emsp;
                                                <span class="badge badge-pill badge-info">{{ post.comments.count() }}</span></small>
                                            {% endif %}
                                        {% endif %}

                                        <!-- Likes Popup Dialog Box -->
                                        <div id="likes{{post.id}}" class="modal fade" role="dialog">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="text-center modal-title"><i class="far fa-thumbs-up"></i>&emsp;{{ post.likes.count() }}</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        {% if post.likes %}
                                                            {% if post.likes.count() > 0 %}
                                                                {% for like in post.likes %}
                                                                    <p>
                                                                        <img class="rounded-circle comment-img" src="{{ url_for('static', filename = 'profile_photos/' + like.user.photo) }}">
                                                                        <a href="{{ url_for('userProfile', username = like.user.username) }}">{{ like.user.firstname }} {{ like.user.middlename }} {{ like.user.lastname }}</a>
                                                                    </p>
                                                                {% endfor %}
                                                            {% endif %}
                                                        {% endif %}
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <!-- Edit Post Item Popup Dialog Box -->
                                        <div id="editPost{{post.id}}" class="modal fade" role="dialog">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="text-center modal-title"><i class="fas fa-edit"></i>&emsp;Edit Post</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form action="{{ url_for('updatePost') }}" method="POST" enctype="multipart/form-data" novalidate>
                                                            <div class="form-group">
                                                                <label>Post Title</label>
                                                                <input type="hidden" name="id" value="{{post.id}}">
                                                                <input type="text" class="form-control" name="title" value="{{post.title}}">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Post Content</label>
                                                                <textarea class="form-control" name="body" style="white-space: pre-wrap;">{{post.body}}</textarea>
                                                            </div>
                                                            <div class="form-group row modal-button-panel">
                                                                <button class="btn btn-success col-md-6 " type="submit">Update Post</button>
                                                                <button type="button" class="btn btn-danger col-md-6" data-dismiss="modal">Close</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <h2 class="article-title"><a href="{{ url_for('post', post_id = post.id) }}">{{ post.title }}</a></h2>
                                    <p class="article-content">{{ post.body }}</p>

                                    <!-- COMMENTS SECTION -->
                                    {% if post.comments %}
                                        {% if post.comments.count() > 0 %}
                                            <h4 class="comment-header">All Comments</h4>
                                            <hr>
                                            {% for comment in post.comments %}
                                                <p><img class="rounded-circle comment-img" src="{{ url_for('static', filename = 'profile_photos/' + comment.commentor.photo) }}"><a href="{{ url_for('userProfile', username = comment.commentor.username) }}">{{ comment.commentor.firstname }} {{ comment.commentor.middlename }} {{ comment.commentor.lastname }}</a> <small class="text-muted">commented {{ moment(comment.timestamp).fromNow() }} : </small> {{ comment.text }}</p>
                                            {% endfor %}
                                        {% endif %}
                                    {% endif %}

                                    <!-- If Author Is Current User -->
                                    {% if post.author == current_user %}

                                        <div class="row button-panel col-md-12">
                                            <a href="/updatePost/{{ post.id }}" class="btn col-md-3 btn-outline-primary edit_button" data-toggle="modal" data-target="#editPost{{post.id}}">
                                                <i class="fas fa-edit d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">
                                                    <i class="fas fa-edit"></i>&emsp;Edit
                                                </span>
                                            </a>
                                            
                                            <!-- When DELETE Button Is Clicked, Playing A Delete Audio -->
                                            <a onclick="playDelSound(event);" href="/deletePost/{{ post.id }}" class="btn col-md-3 btn-outline-danger delete-button">
                                                <i class="fa fa-trash d-block d-sm-none" aria-hidden="true"></i>
                                                <span class="d-none d-sm-block">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>&emsp;Delete
                                                </span>
                                            </a>

                                            <!-- If The Current User Already Liked The Post -->
                                            {% if current_user.has_liked_post(post) %}
                                                <a href="{{ url_for('like_action', post_id = post.id, action = 'unlike') }}" class="btn col-md-3 btn-outline-dark dislike-button">
                                                    <i class="fas fa-thumbs-down d-block d-sm-none"></i>
                                                    <span class="d-none d-sm-block">
                                                        <i class="fas fa-thumbs-down"></i>&emsp;Unlike
                                                    </span>
                                                </a>

                                            <!-- If The Current User Not Liked The Post Yet -->
                                            {% else %}
                                                <a href="{{ url_for('like_action', post_id = post.id, action = 'like') }}" class="btn col-md-3 btn-outline-success like-button">
                                                    <i class="far fa-thumbs-up d-block d-sm-none"></i>
                                                    <span class="d-none d-sm-block">
                                                        <i class="far fa-thumbs-up"></i>&emsp;Like
                                                    </span>
                                                </a>
                                            {% endif %}
                                            
                                            <a href="{{ url_for('dashboard') }}" class="btn col-md-3 btn-outline-secondary comment_button" data-toggle="modal" data-target="#comment{{post.id}}">
                                                <i class="fas fa-comment d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">
                                                    <i class="fas fa-comment"></i>&emsp;Comment
                                                </span>
                                            </a>
                                        </div>

                                    {% endif %}
                                </div>
                            </article>

                        <!-- If Author Is Not Current User -->
                        {% else %}
                            <article class="media blog-content-section">
                                <img class="rounded-circle article-img" src="{{ post.author.avatar(128) }}">
                                <div class="media-body">
                                    <div class="article-metadata">
                                        <a class="mr-2" href="{{ url_for('userProfile', username = post.author.username) }}">{{ post.author.firstname }} {{ post.author.middlename }} {{ post.author.lastname }}</a>
                                        <small class="text-muted">Posted {{ moment(post.created_datetime).fromNow() }}</small>

                                        <!-- In case Of Atleast 1 Like -->
                                        {% if post.likes.count() > 0 %}
                                            <small class="text-muted" data-toggle="modal" data-target="#likes{{post.id}}">&emsp;|&emsp;

                                                <!-- In Case Of Likes Less Than 2 But Greater Than 0 -->
                                                {% if post.likes.count() < 2 %}
                                                    Like&emsp;
                                                    <span class="badge badge-pill badge-info">{{ post.likes.count() }}</span></small>
                                                
                                                <!-- Im Case Of Likes Greater Than 2 -->
                                                {% else %}
                                                    Likes&emsp;
                                                    <span class="badge badge-pill badge-info">{{ post.likes.count() }}</span></small>
                                                {% endif %}
                                        {% endif %}

                                        <!-- In case Of Atleast 1 Comment -->
                                        {% if post.comments.count() > 0 %}
                                            <small class="text-muted">&emsp;|&emsp;

                                            <!-- In Case Of Comments Less Than 2 But Greater Than 0 -->
                                            {% if post.comments.count() < 2 %}
                                                Comment&emsp;
                                                <span class="badge badge-pill badge-info">{{ post.comments.count() }}</span></small>

                                            <!-- In Case Of Comments Greater Than 2 -->
                                            {% else %}
                                                Comments&emsp;
                                                <span class="badge badge-pill badge-info">{{ post.comments.count() }}</span></small>
                                            {% endif %}
                                        {% endif %}

                                    </div>
                                    
                                    <h2 class="article-title"><a href="{{ url_for('post', post_id = post.id) }}">{{ post.title }}</a></h2>
                                    <p class="article-content">{{ post.body }}</p>
                                    
                                    <!-- COMMENTS SECTION -->
                                    {% if post.comments %}
                                        {% if post.comments.count() > 0 %}
                                            <h4 class="comment-header">All Comments</h4>
                                            <hr>
                                            {% for comment in post.comments %}
                                                <p><img class="rounded-circle comment-img" src="{{ url_for('static', filename = 'profile_photos/' + comment.commentor.photo) }}"><a href="{{ url_for('userProfile', username = comment.commentor.username) }}">{{ comment.commentor.firstname }} {{ comment.commentor.middlename }} {{ comment.commentor.lastname }}</a> <small class="text-muted">commented {{ moment(comment.timestamp).fromNow() }} : </small>{{ comment.text }}</p>
                                            {% endfor %}
                                        {% endif %}
                                    {% endif %}
                                    
                                    <div class="row button-panel col-md-12">

                                        <!-- If The Current User Already Liked The Post -->
                                        {% if current_user.has_liked_post(post) %}
                                            <a href="{{ url_for('like_action', post_id = post.id, action = 'unlike') }}" class="btn col-md-6 btn-outline-dark dislike-button">
                                                <i class="fas fa-thumbs-down d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">
                                                    <i class="fas fa-thumbs-down"></i>&emsp;Unlike
                                                </span>
                                            </a>

                                        <!-- If The Current User Didn't Liked The Post Yet -->
                                        {% else %}
                                            <a href="{{ url_for('like_action', post_id = post.id, action = 'like') }}" class="btn col-md-6 btn-outline-success like-button">
                                                <i class="far fa-thumbs-up d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">
                                                    <i class="far fa-thumbs-up"></i>&emsp;Like
                                                </span>
                                            </a>

                                        {% endif %}
                                        
                                        <a href="{{ url_for('dashboard') }}" class="btn col-md-6 btn-outline-secondary comment_button" data-toggle="modal" data-target="#comment{{post.id}}">
                                            <i class="fas fa-comment d-block d-sm-none"></i>
                                            <span class="d-none d-sm-block">
                                                <i class="fas fa-comment"></i>&emsp;Comment
                                            </span>
                                        </a>
                                        
                                    </div>
                                </div>
                            </article>
                        {% endif %}

                        <!-- Comment Post Popup Dialog Box -->
                        <div id="comment{{post.id}}" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="text-center modal-title"><i class="fas fa-comment"></i>&emsp;Leave Your Comment</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form action="{{ url_for('comment', post_id = post.id) }}" method="POST">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="comment" placeholder="Comment">
                                            </div>
                                            <div class="form-group">
                                                <button class="btn btn-success" type="submit">Leave Comment</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Likes Popup Dialog Box -->
                        <div id="likes{{post.id}}" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="text-center modal-title"><i class="far fa-thumbs-up"></i>&emsp;{{ post.likes.count() }}</h4>
                                    </div>
                                    <div class="modal-body">
                                        {% if post.likes %}
                                            {% if post.likes.count() > 0 %}
                                                {% for like in post.likes %}
                                                    <p>
                                                        <img class="rounded-circle comment-img" src="{{ url_for('static', filename = 'profile_photos/' + like.user.photo) }}">
                                                        <a href="{{ url_for('userProfile', username = like.user.username) }}">{{ like.user.firstname }} {{ like.user.middlename }} {{ like.user.lastname }}</a>
                                                    </p>
                                                {% endfor %}
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}

                    <!-- PAGINATION -->
                    <div class="page">
                        {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                            {% if posts.total > posts.per_page %}
                                {% if page_num %}
                                    {% if posts.page == page_num %}
                                        <a class="btn btn-info mb-4" href="{{ url_for('dashboard', page = page_num) }}">{{ page_num }}</a>
                                    {% else %}
                                        <a class="btn btn-outline-info mb-4" href="{{ url_for('dashboard', page = page_num) }}">{{ page_num }}</a>
                                    {% endif %}
                                {% else %}
                                    ...
                                {% endif %}
                            {% else %}

                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}