{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content-section">
                    <h1 class="display-4 lead">Dashboard</h1>
                    <div class="row">
                        <div class="media col-md-6">
                            <img class="rounded-circle account-img" src="{{ photo }}">
                            <div class="media-body">
                                <h2 id="greeting"></h2>
                                <h2 class="account-heading">{{ current_user.firstname }} {{ current_user.middlename }} {{ current_user.lastname }}</h2>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-success createPost" data-toggle="modal" data-target="#addPost"><i class="fas fa-plus"></i>&nbsp;Create Post</button>
                        </div>
                    </div>
                    
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                {% with messages = get_flashed_messages(with_categories=true) %}
                                    {% if messages %}
                                        
                                        {% for category, message in messages %}
                                            <div class="alert alert-{{ category }} text-center">
                                                {{ message }}
                                            </div>
                                        {% endfor %}
                                        
                                    {% endif %}
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                    
                    {% for post in posts.items %}
                        {% if post.author == current_user %}
                            <article class="media content-section">
                                <img class="rounded-circle article-img" src="{{ url_for('static', filename = 'profile_photos/' + post.author.photo) }}">
                                <div class="media-body">
                                    <div class="article-metadata">
                                        <a class="mr-2" href="{{ url_for('user', username = post.author.username) }}">{{ post.author.firstname }} {{ post.author.middlename }} {{ post.author.lastname }}</a>
                                        <small class="text-muted">Posted {{ moment(post.created_datetime).fromNow() }}</small>
                                        {% if post.author == current_user %}
                                            <div class="float-right-box">
                                                <a href="/updatePost/{{ post.id }}" class="btn btn-primary edit_button" data-toggle="modal" data-target="#editPost{{post.id}}"><i class="fas fa-edit"></i>&nbsp;Edit</a>
                                                <a onclick="playDelSound(event);" href="/deletePost/{{ post.id }}" class="btn btn-danger delete-button"><i class="fa fa-trash" aria-hidden="true"></i>&nbsp;Delete</a>
                                            </div>
                                        {% endif %}

                                        <!-- Edit Post Item Popup Dialog Box -->
                                        <div id="editPost{{post.id}}" class="modal fade" role="dialog">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="text-center modal-title"><i class="fas fa-edit"></i>&emsp;Edit Post</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form action="{{ url_for('updatePost') }}" method="POST">
                                                            <div class="form-group">
                                                                <label>Post Title</label>
                                                                <input type="hidden" name="id" value="{{post.id}}">
                                                                <input type="text" class="form-control" name="title" value="{{post.title}}">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Post Content</label>
                                                                <textarea class="form-control" name="body">{{post.body}}</textarea>
                                                            </div>
                                                            <div class="form-group">
                                                                <button class="btn btn-success" type="submit">Update Post</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <h2 class="article-title">{{ post.title }}</h2>
                                    <p class="article-content">{{ post.body }}</p>
                                </div>
                            </article>
                        {% else %}
                            <article class="media content-section">
                                <img class="rounded-circle article-img" src="{{ url_for('static', filename = 'profile_photos/' + post.author.photo) }}">
                                <div class="media-body">
                                    <div class="article-metadata">
                                        <a class="mr-2" href="{{ url_for('userProfile', username = post.author.username) }}">{{ post.author.firstname }} {{ post.author.middlename }} {{ post.author.lastname }}</a>
                                        <small class="text-muted">Posted {{ moment(post.created_datetime).fromNow() }}</small>
                                        {% if post.author == current_user %}
                                            <div class="float-right-box">
                                                <a href="/updatePost/{{ post.id }}" class="btn btn-primary edit_button" data-toggle="modal" data-target="#editPost{{post.id}}"><i class="fas fa-edit"></i>&nbsp;Edit</a>
                                                <a onclick="playDelSound(event);" href="/deletePost/{{ post.id }}" class="btn btn-danger delete-button"><i class="fa fa-trash" aria-hidden="true"></i>&nbsp;Delete</a>
                                            </div>
                                        {% endif %}

                                        <!-- Edit Post Item Popup Dialog Box -->
                                        <div id="editPost{{post.id}}" class="modal fade" role="dialog">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="text-center modal-title"><i class="fas fa-edit"></i>&emsp;Edit Post</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form action="{{ url_for('updatePost') }}" method="POST">
                                                            <div class="form-group">
                                                                <label>Post Title</label>
                                                                <input type="hidden" name="id" value="{{post.id}}">
                                                                <input type="text" class="form-control" name="title" value="{{post.title}}">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Post Content</label>
                                                                <textarea class="form-control" name="body">{{post.body}}</textarea>
                                                            </div>
                                                            <div class="form-group">
                                                                <button class="btn btn-success" type="submit">Update Post</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <h2 class="article-title">{{ post.title }}</h2>
                                    <p class="article-content">{{ post.body }}</p>
                                </div>
                            </article>
                        {% endif %}
                    {% endfor %}
                    <div class="page">
                        {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                            {% if posts.total > posts.per_page %}
                                {% if page_num %}
                                    {% if posts.page == page_num %}
                                        <a class="btn btn-info mb-4" href="{{ url_for('dashboard', page = page_num) }}">{{ page_num }}</a>
                                    {% else %}
                                        <a class="btn btn-outline-info mb-4" href="{{ url_for('dashboard', page = page_num) }}">{{ page_num }}</a>
                                    {% endif %}
                                {% else %}
                                    ...
                                {% endif %}
                            {% else %}

                            {% endif %}
                        {% endfor %}
                    </div>

                    <!-- Add Post Popup Dialog Box -->
                    <div id="addPost" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="text-center modal-title"><i class="fas fa-plus"></i>&emsp;Add A Post</h4>
                                </div>
                                <div class="modal-body">
                                    <form action="{{ url_for('new_post') }}" method="POST" autocomplete="off">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Post Title" name="title" required="1">
                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control" placeholder="Post Content" name="body" required="1"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-success" type="submit"><i class="fas fa-plus"></i>&emsp;Add A Post</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
{% endblock %}