{% extends "layout.html" %}

{% block title %}
    {{ title }} {{ user.firstname }} {{ user.middlename }} {{ user.lastname }}
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content-section">
                    <h1 class="display-4 lead text-center follow-title">{{ title }} <a class="follow-profile-link" href="{{ url_for('userProfile', username = user.username) }}">{{ user.firstname }} {{ user.middlename }} {{ user.lastname }}</a></h1>
                    <table class="table table-hover followers">
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>Follower Since</th>
                            </tr>
                        </thead>
                        {% for follow in follows %}
                            {% if follow.user != user %}
                                <tr>
                                    <td>
                                        <a href="{{ url_for('userProfile', username = follow.user.username) }}">
                                            <img class="rounded-circle follower-img d-block d-sm-none" src = "{{ follow.user.avatar(128) }}">
                                            
                                            <!-- Hidden Only On Extra Small Devices -->
                                            <span class="d-none d-sm-block">
                                                <img class="rounded-circle follower-img" src = "{{ follow.user.avatar(128) }}">
                                                {{ follow.user.firstname }} {{ follow.user.middlename }} {{ follow.user.lastname }}
                                            </span>
                                            
                                        </a>
                                    </td>
                                    <td>
                                        {{ moment(follow.follow_time).format('L') }}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>

                    <!-- PAGNINATION -->
                    <div class="page">
                        {% for page_num in users.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                            {% if users.total > users.per_page %}
                                {% if page_num %}
                                    {% if users.page == page_num %}
                                        <a class="btn btn-info mb-4" href="{{ url_for('followers', page = page_num) }}">{{ page_num }}</a>
                                    {% else %}
                                        <a class="btn btn-outline-info mb-4" href="{{ url_for('followers', page = page_num) }}">{{ page_num }}</a>
                                    {% endif %}
                                {% else %}
                                    ...
                                {% endif %}
                            {% else %}

                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}