{% extends "layout.html" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content-section">
                    <h1>How To Setup Your Profile Picture?</h1>
                    <p>
                        If you are seeing an anonymous profile picture after your registration and login to MemoryBlog, then it means you are not a registered user in Gravatar. 
                        Please register to <a href="https://en.gravatar.com" target="_blank">Gravatar</a> and use that profile picture globally to MemoryBlog.
                    </p>
                    <p>
                        To create a Gravatar account, please access this link: 👉🏻 <a href="https://wordpress.com/start/wpcc/oauth2-user?ref=oauth2&oauth2_redirect=https%3A%2F%2Fpublic-api.wordpress.com%2Foauth2%2Fauthorize%2F%3Fclient_id%3D1854%26response_type%3Dcode%26blog_id%3D0%26state%3D66b9eaf990242fdfc65a2dab2465f408a49f4e23cd11592830178f83299900a3%26redirect_uri%3Dhttps%253A%252F%252Fen.gravatar.com%252Fconnect%252F%253Faction%253Drequest_access_token%26jetpack-code%26jetpack-user-id%3D0%26action%3Doauth2-login&oauth2_client_id=1854" target="_blank">Gravatar Registration</a>.
                        You just need the email address, username and password for registration.
                    </p>
                    <p>
                        Simply, use the same email address for both Gravatar account and MemoryBlog Web Application during registration.
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}