{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content-section">
                    <div class="article-metadata">
                        <img class="rounded-circle article-img" src="{{ post.author.avatar(128) }}">
                        <a class="mr-2" href="{{ url_for('userProfile', username = post.author.username) }}">{{ post.author.firstname }} {{ post.author.middlename }} {{ post.author.lastname }}</a>
                        <small class="text-muted">Posted {{ moment(post.created_datetime).fromNow() }}</small>

                        <!-- In case Of Atleast 1 Like -->
                        {% if post.likes.count() > 0 %}
                        <small class="text-muted" data-toggle="modal" data-target="#likes{{post.id}}">&emsp;|&emsp;

                            <!-- In Case Of Likes Less Than 2 But Greater Than 0 -->
                            {% if post.likes.count() < 2 %}
                                Like&emsp;
                                <span class="badge badge-pill badge-info">{{ post.likes.count() }}</span></small>
                            
                            <!-- Im Case Of Likes Greater Than 2 -->
                            {% else %}
                                Likes&emsp;
                                <span class="badge badge-pill badge-info">{{ post.likes.count() }}</span></small>
                            {% endif %}
                        {% endif %}

                        <!-- In case Of Atleast 1 Comment -->
                        {% if post.comments.count() > 0 %}
                            <small class="text-muted">&emsp;|&emsp;
                            
                            <!-- In Case Of Comments Less Than 2 But Greater Than 0 -->
                            {% if post.comments.count() < 2 %}
                                Comment&emsp;
                                <span class="badge badge-pill badge-info">{{ post.comments.count() }}</span></small>
                            
                            <!-- In Case Of Comments Greater Than 2 -->
                            {% else %}
                                Comments&emsp;
                                <span class="badge badge-pill badge-info">{{ post.comments.count() }}</span></small>
                            {% endif %}
                        {% endif %}
                        

                        <!-- Likes Popup Dialog Box -->
                        <div id="likes{{post.id}}" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="text-center modal-title"><i class="far fa-thumbs-up"></i>&emsp;{{ post.likes.count() }}</h4>
                                    </div>
                                    <div class="modal-body">
                                        {% if post.likes %}
                                            {% if post.likes.count() > 0 %}
                                                {% for like in post.likes %}
                                                    <p>
                                                        <img class="rounded-circle comment-img" src="{{ url_for('static', filename = 'profile_photos/' + like.user.photo) }}">
                                                        <a href="{{ url_for('userProfile', username = like.user.username) }}">{{ like.user.firstname }} {{ like.user.middlename }} {{ like.user.lastname }}</a>
                                                    </p>
                                                {% endfor %}
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                                
                        
                        <hr>
                        <h1 class="article-title">{{ post.title }}</h1>
                        <p class="article-content">{{ post.body }}</p>

                        <!-- COMMENTS SECTION -->
                        {% if post.comments %}
                            {% if post.comments.count() > 0 %}
                                <h4>All Comments</h4>
                                <hr>
                                {% for comment in post.comments %}
                                    <p><img class="rounded-circle comment-img" src="{{ url_for('static', filename = 'profile_photos/' + comment.commentor.photo) }}"><a href="{{ url_for('userProfile', username = comment.commentor.username) }}">{{ comment.commentor.firstname }} {{ comment.commentor.middlename }} {{ comment.commentor.lastname }}</a> <small class="text-muted">commented {{ moment(comment.timestamp).fromNow() }} : </small>{{ comment.text }}</p>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                        
                        <div class="row float-right-box">
                            {% if post.author == current_user %}
                                <a href="/updatePost/{{ post.id }}" class="btn col-md-3 btn-outline-primary edit_button" data-toggle="modal" data-target="#editPost{{post.id}}"><i class="fas fa-edit"></i>&emsp;Edit</a>
                                <a onclick="playDelSound(event);" href="/deletePost/{{ post.id }}" class="btn col-md-3 btn-outline-danger delete-button"><i class="fa fa-trash" aria-hidden="true"></i>&emsp;Delete</a>
                                
                                <!-- If The Current User Already Liked The Post -->
                                {% if current_user.has_liked_post(post) %}
                                    <a href="{{ url_for('like_action', post_id = post.id, action = 'unlike') }}" class="btn col-md-3 btn-outline-dark dislike-button"><i class="fas fa-thumbs-down"></i>&emsp;Unlike</a>
                                
                                <!-- If The Current User Didn't Liked The Post Yet -->
                                {% else %}
                                    <a href="{{ url_for('like_action', post_id = post.id, action = 'like') }}" class="btn col-md-3 btn-outline-success like-button"><i class="far fa-thumbs-up"></i>&emsp;Like</a>
                                {% endif %}

                                <a href="/post/{{ post.id }}" class="btn col-md-3 btn-outline-secondary comment_button" data-toggle="modal" data-target="#comment{{post.id}}"><i class="fas fa-comment"></i>&emsp;Comment</a>

                                <!-- Edit Post Item Popup Dialog Box -->
                                <div id="editPost{{post.id}}" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="text-center modal-title"><i class="fas fa-edit"></i>&emsp;Edit Post</h4>
                                            </div>
                                            <div class="modal-body">
                                                <form action="{{ url_for('updatePost') }}" method="POST" enctype="multipart/form-data" novalidate>
                                                    <div class="form-group">
                                                        <label>Post Title</label>
                                                        <input type="hidden" name="id" value="{{post.id}}">
                                                        <input type="text" class="form-control" name="title" value="{{post.title}}">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Post Content</label>
                                                        <textarea class="form-control" name="body" style="white-space: pre-wrap;">{{post.body}}</textarea>
                                                    </div>
                                                    <div class="form-group row modal-button-panel">
                                                        <button class="btn btn-success col-md-6 " type="submit">Update Post</button>
                                                        <button type="button" class="btn btn-danger col-md-6" data-dismiss="modal">Close</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Comment Post Popup Dialog Box -->
                                <div id="comment{{post.id}}" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="text-center modal-title"><i class="fas fa-comment"></i>&emsp;Leave Your Comment</h4>
                                            </div>
                                            <div class="modal-body">

                                                <!-- Comment Form -->
                                                <form action="{{ url_for('comment', post_id = post.id) }}" method="POST">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" name="comment" placeholder="Comment">
                                                    </div>
                                                    <div class="form-group">
                                                        <button class="btn btn-success" type="submit">Leave Comment</button>
                                                    </div>
                                                </form>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            {% else %}
                                
                                <!-- If The Current User Already Liked The Post -->
                                {% if current_user.has_liked_post(post) %}
                                    <a href="{{ url_for('like_action', post_id = post.id, action = 'unlike') }}" class="btn col-md-6 btn-outline-dark dislike-button"><i class="fas fa-thumbs-down"></i>&emsp;Unlike</a>
                                
                                <!-- If The Current User Didn't Liked The Post Yet -->
                                {% else %}
                                    <a href="{{ url_for('like_action', post_id = post.id, action = 'like') }}" class="btn col-md-6 btn-outline-success like-button"><i class="far fa-thumbs-up"></i>&emsp;Like</a>
                                {% endif %}

                                <a href="/post/{{ post.id }}" class="btn col-md-6 btn-outline-secondary comment_button" data-toggle="modal" data-target="#comment{{post.id}}"><i class="fas fa-comment"></i>&emsp;Comment</a>

                                <!-- Comment Post Popup Dialog Box -->
                                <div id="comment{{post.id}}" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="text-center modal-title"><i class="fas fa-comment"></i>&emsp;Leave Your Comment</h4>
                                            </div>
                                            <div class="modal-body">

                                                <!-- Comment Form -->
                                                <form action="{{ url_for('comment', post_id = post.id) }}" method="POST">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" name="comment" placeholder="Comment">
                                                    </div>
                                                    <div class="form-group">
                                                        <button class="btn btn-success" type="submit">Leave Comment</button>
                                                    </div>
                                                </form>
                                                
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}